<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
<!DOCTYPE html>
<style>
    .redondeado {
        border-radius: 4px;
        border-color: lightgray;
        border-width: 1px;
        width: 100%;
        font-size: 13px;
        padding: 2px;
    }
    .img-bordered-sm2 {
        width: 40px;
        height: 40px;
    }

    .img-circle2 {
        border-radius: 50%;
    }
</style>
<html>
@{
    var emailCuenta = Session["usuarioLogeado"];
    var tipoCuenta = Session["tipoCuenta"];
    var idCuenta = Session["idCuenta"];
    var id = Session["id"];
    var fotoUsuario = Session["foto"];
    var rutaParcial = fotoUsuario.ToString().Split('\\')[fotoUsuario.ToString().Split('\\').Length - 1];
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Sidebar/style4.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/material/js/core/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <link href="~/material/css/material-dashboard.css" rel="stylesheet" />
    <script src="~/material/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/material/js/material-dashboard.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ArrendaSys</title>
    <script src="~/Scripts/Generales.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>

    <div class="wrapper">

        <!-- Topbar  -->
        <div id="content" style="padding: 0px; background-image: url(../../assets/img/slide/Ciudad_Mendoza.jpg); background-size: cover;">
            <!-- Sidebar  -->
            <div class="row" style="height: -webkit-fill-available;width:100%">
                <div class="col-md-2">

                    <nav id="sidebar" style="height:100%;position:fixed">
                        <div class="sidebar-header">
                            <img src="~/assets/img/arrendasys_sinfondo.png" class="img-fluid" alt="">
                            <strong>
                                <!--Vacio-->
                            </strong>
                        </div>
                        <ul class="list-unstyled components" id="MenuPrincipal">
                        </ul>
                        <div style="position:absolute; bottom:0">
                            <span style="color:white; padding-left:35px; padding-bottom:10px;">@emailCuenta</span>
                        </div>
                    </nav>
                        
                </div>
                <div class="col-md-9">
                    <nav class="navbar sticky-top navbar-light float-right" style="background-color: transparent !important; box-shadow: none !important; width: 100%; justify-content:right !important;display:flex">
                        @*<button class="btn btn-success" type="button" id="uciel" style="background-color:#5cb874" onclick="prueba()">
                                pdf
                            </button>*@
                        <div class="dropdown float-right" style="text-align:right">
                            <button class="btn btn-success float-right" type="button" id="dropdownMenuButton1" href="#" onclick="MisNotificaciones()" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border-radius: 50px; border-color:transparent;">
                               <i class="fas fa-bell" id="campanita"></i><div class="indicadorNroNotif" id="indicadorNotificacion"></div>
                            </button>
                        </div>

                        <div class="dropdown float-right" style="text-align:right">
                            
                            <button class="btn btn-success dropdown-toggle float-right" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#2e7230; padding-top:5px; padding-bottom:5px; border-radius:50px; padding-left:15px;">
                                <img class='img-circle2 img-bordered-sm2' src='~/TempFolder/@rutaParcial' title=@emailCuenta /> &nbsp&nbsp Mi perfil &nbsp
                                
                            </button>
                            <div class="mercadoPago" id="btnmp">

                            </div>
                            <ul class="dropdown-menu float-right" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#" onclick="Perfil()">Editar Perfil</a></li>
                                <li><a class="dropdown-item" href="#" onclick="MisResenias()">Mis Reseñas</a></li>
                                <li><a class="dropdown-item" href="#" onclick="MisEstadisticas()">Mis Estadísticas</a></li>
                                <li><a class="dropdown-item" href="#" onclick="Logout()">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>



    @*<img src="~/assets/img/cesped.jpg" class="img-fluid" alt="" style="height:131vh;">*@

    @RenderSection("scripts", required: false)

</body>
</html>
@*<script>
    
        // Agrega credenciales de SDK
        const mp = new MercadoPago('APP_USR-579a8bef-0b8e-4246-8f8c-708eec0975a0', {
            locale: 'es-AR'
        });
    var url = "/Api/MercadoPago/create_preference";
    $.ajax({
        type: 'Post',
        url: url,
        success: function (data) {
            mp.checkout({
                preference: {
                    id: data.Id
                },
                render: {
                    container: '.mercadoPago',
                }
            });
        },
        error: function (erro) {
            console.log(erro);
            alert('Error');
        }
    });
       
        // Inicializa el checkout
       
    
</script>*@
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5518030199279545"
        crossorigin="anonymous"></script>
<script>
    
    var tipoCuenta = parseInt(@tipoCuenta);
    var id = parseInt(@id);

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        var url = "/Api/Rol/ObtenerMenu?emailCuenta=" + "@emailCuenta";
            $.getJSON(url)
                .done(function (data) {
                    $.each(data, function (index, result) {
                        if (result.idUrl != -1) {
                        var item = "<li title='" + result.nombreUrl + "' id='" + result.nombreUrl + "'>";
                        item = item + "<a href='" + result.linkUrl + "'>";
                        item = item + "<i class='fas "+result.iconClass+"' style='width:25px;'></i>"
                        item = item + " "+result.nombreUrl;
                        item = item + "</a>";
                        item = item + "</li>";
                            $("#MenuPrincipal").append(item);
                        }
                    });
                }).fail(function (erro) {
                    console.log(erro);
                    alert('Error en la busqueda de Menu');
                });
    });
    function Logout() {
        window.location.href = "/Login/Logout";
    }
    function Perfil() {
         window.location.href = "/Perfil/AdministrarPerfil";
    }


    function MisResenias() {
        window.location.href = "/Resenias/MisResenias";
    }

    function MisEstadisticas() {
        window.location.href = "/Estadisticas/MisEstadisticas";
/*        window.open("/Api/Reportes/excel?tipoCuenta=" + tipoCuenta + "&id=" + id);*/
    }

    function MisNotificaciones() {
        window.location.href = "/Notificaciones/index";
    }
    
    (function () {

        $.ajax({
            type: 'Get',
            url: '/Api/Notificaciones/indicadorNotificacion?idCuenta=' + idCuenta,
            success: function (result) {
                var cantNotif = result;
                if (cantNotif > 0) {
                    $('#indicadorNotificacion').text(cantNotif);
                }
            }
        });
    })();

</script>
