<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
<!DOCTYPE html>
<style>
    .redondeado {
        border-radius: 4px;
        border-color: lightgray;
        border-width: 1px;
        width: 100%;
        font-size: 13px;
        padding: 2px;
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Sidebar/style4.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/material/js/core/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <link href="~/material/css/material-dashboard.css" rel="stylesheet" />
    <script src="~/material/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/material/js/material-dashboard.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ArrendaSys</title>
    <script src="~/Scripts/Generales.js"></script>

</head>
<body>

    <div class="wrapper">

        <!-- Topbar  -->
        <div id="content" style="padding:0px">
            <!-- Sidebar  -->
                <div class="row" style="height: -webkit-fill-available;width:100%">
                    <div class="col-md-2">

                        <nav id="sidebar" style="height:100%;position:fixed">
                            <div class="sidebar-header">
                                <img src="~/assets/img/arrendasys-sinfondo.png" class="img-fluid" alt="">
                                <strong>
                                    <!--Vacio-->
                                </strong>
                            </div>
                            <ul class="list-unstyled components" id="MenuPrincipal">
                            </ul>
                        </nav>

                    </div>
                    <div class="col-md-9">
                        <nav class="navbar sticky-top navbar-light float-right" style="background-color: transparent !important; box-shadow: none !important; width: 100%; justify-content:right !important;display:flex">
                            
                                <div class="dropdown float-right" style="text-align:right">
                                    <button class="btn btn-success dropdown-toggle float-right" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#5cb874">
                                        Mi perfil
                                    </button>
                                    <ul class="dropdown-menu float-right" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#" onclick="Perfil()">Editar Perfil</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="Logout()">Cerrar Sesión</a></li>
                                    </ul>
                                </div>
                        </nav>
                        <div class="body-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
        </div>
    </div>





    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    @{
        var emailCuenta = Session["usuarioLogeado"];
    }

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        var url = "/Api/Rol/ObtenerMenu?emailCuenta=" + "@emailCuenta";
            $.getJSON(url)
                .done(function (data) {
                    $.each(data, function (index, result) {
                        if (result.idUrl != -1) {
                        var item = "<li title='" + result.nombreUrl + "' id='" + result.nombreUrl + "'>";
                        item = item + "<a href='" + result.linkUrl + "'>";
                        item = item + "<i class='fas "+result.iconClass+"' style='width:25px;'></i>"
                        item = item + " "+result.nombreUrl;
                        item = item + "</a>";
                        item = item + "</li>";
                            $("#MenuPrincipal").append(item);
                        }
                    });
                }).fail(function (erro) {
                    console.log(erro);
                    alert('Error en la busqueda de Menu');
                });
    });
    function Logout() {
        window.location.href = "/Login/Logout";
    }
    function Perfil() {
         window.location.href = "/Perfil/AdministrarPerfil";
    }
</script>
